<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>layout</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
            rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="@{/common/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="@{/common/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="@{/common/css/css/owl.carousel.css}" />
        <link rel="stylesheet" href="@{/common/css/css/styleHAF.css}" />
        
    </head>
    <body>
        <div th:replace = "common/header :: header-fragment"></div>
        <!-- single course section -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <p style="text-align:center">Đây là lesson </p>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group 1</h5>
                  </div>
                  <small>Giới thiệu về list group 1</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group 2</h5>
                  </div>
                  <small class="text-muted">Giới thiệu về list group 2</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group 3</h5>
                  </div>
                  <small class="text-muted">Giới thiệu về list group 3</small>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div th:replace = "common/footer :: footer-fragment"></div>
    </body>
