/**/
*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color:blueviolet;
    font-weight: bolder;
    text-decoration: none;
}
h1{
    font-size: 16px;
    font-weight: bolder;
}
/*Forum.html*/
.container{
    margin: 20px;
    padding: 20px;
}
.subforum{
    margin-top: 20px;
}
.subforum-title{
    background-color: #f0902a5a;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}
.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #f0902a78;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-icon i{
    font-size: 43px;
}
.subforum-description *{
    margin-block: 0;
}
.subforum-devider{
    display: block;
    border: 0;
    height: 1px;
    color: blue;
}
/****************/
/*Post Page*/
.table-head{
    display: flex;
}
.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #f0902a5a;
    font-weight: bold;
}
.table-head .status{
    flex: 5%;
}
.table-head .subjects{
    flex: 70%;
}
.table-head .replies{
    flex: 10%;
}
.table-head .last-reply{
    flex: 15%;
}
/* Table body*/
.table-row{
    display: flex;
}
.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #f0902a78;
}
.table-row .status{
    flex: 5%;
    font-size:30px;
    text-align: center;
}
.table-row .subjects{
    flex: 70%;
}
.table-row .replies{
    flex: 10%;
}
.table-row .last-reply{
    flex: 15%;
}

/*Pagination*/
.pagination{
    padding: 20px;
    font-size: 15px;
}
.pagination a{
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #f0902a78;
}
.pagination a:hover{
    opacity: 0.5;
}


/*****************************/
/*ForumDetail*/
.head{
    display: flex;
    background-color: #f0902a78;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}
.authors{
    flex:20px;
}
.content{
    flex:80%;
}
.body{
    display: flex;
    background-color: #f0902a5a;
    padding: 10px;
    margin-top: 5px;
}
.body .authors .username{
    font-size: 20px;
}
.body .authors img{
    max-width: 50px;
    max-height: 80px;
}
.body .content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}
/*Comment*/
.comment-area{
    margin-top: 50px;
}
.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}
.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.comment-area input:hover{
    border: solid 1px #000000;
}