<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebUni - Education Template</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/Header_Footer/css/headers.css}" rel="stylesheet">
    <!-- sea2.css -->
    <link th:href="@{/Header_Footer/css/sea2.css}" rel="stylesheet">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>
    <!-- Code here -->
    
    <div class="main">
        <div class="container">
        <h1 style="align-items: center; display: flex; justify-content: center; border: solid 2px; border-radius: 5px; background-color: rgba(205, 209, 228, 1); color: rgb(0, 0, 0);">Students of this class</h1>
        <table th:each="s : ${lq}">
            <tr>
              <a th:href="@{/sprofile/id=__${s.studentID}__}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1" th:text = "${s.username}"></h5>
                  <img th:src="${s.img_src}" class="img-thumbnail" alt="..." style="width: 80px;height: 80px;">
                  
                </div>
                
              </a>
            </tr>
          </table>
        </div>
    </div>
    <!-- footerOai.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>
</body>

<!--====== Javascripts & Jquery ======-->
<script th:src="@{../home_course/js/jquery-3.2.1.min.js}"></script>
<!-- <script th:src="@{../home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{../home_course/js/mixitup.min.js}"></script> -->
<script th:src="@{../home_course/js/circle-progress.min.js}"></script>
<script th:src="@{../home_course/js/owl.carousel.min.js}"></script>
<script th:src="@{../home_course/js/main.js}"></script>
<script th:src="@{../Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>