<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin OnLearner</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div th:replace="Admin/main :: sidebarAdmin"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="Admin/main :: navAdmin"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        Viết content ở đây nè :D
                        <div class="row">
                            <!-- show all Blogs -->
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                            All Mentor
                                            <button class="addcourse btn btn btn-primary">Add Mentor</button>
                                            <script>
                                                $(document).ready(function() {
                                                    $(".addcourse").click(function() {
                                                        var $modal = $('#addCourseModal');
                                                        $modal.modal('show');
    
                                                    });
                                                });
                                            </script>
                                            <!-- Modal -->
                                            <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <form th:action="@{/admin/mentorlist/add}" method="post" th:object="${Mentor}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modal title
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-12 form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 form-group">
                                                                            <label for="name">Name</label>
                                                                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 form-group">
                                                                            <label for="Fullname">Fullname</label>
                                                                            <input type="text" class="form-control" name="Fullname" id="Fullname" placeholder="Enter name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-md-4">
                                                                            <label for="Gender">Gender</label>
                                                                            <select id="Gender" class="form-control" name="Gender">
                                                                                <option selected disabled>Choose...</option>
                                                                                <option text="Male"
                                                                                        value="True"></option>
                                                                                <option text="Female"
                                                                                        value="False"></option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group col-md-4">
                                                                            <label for="ImgSrc">Image</label>
                                                                            <input type="text" class="form-control" name="ImgSrc" id="ImgSrc" placeholder="Enter ImgSrc">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 form-group">
                                                                            <label for="dob">DOB</label>
                                                                            <input type="date" name="dob" id="dob" ></input>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 form-group">
                                                                            <label for="phone">Phone</label>
                                                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save
                                                                    changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </h6>
                                    </div>
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">All Blogs</h6>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTableOai" width="100%" cellspacing="0" th:style="'table-layout: fixed;'">
                                                <thead>
                                                    <tr>
                                                        <th th:style="'width: 4%;'">Id</th>
                                                        <th th:style="'width: 10%;'">Img</th>
                                                        <th th:style="'width: 10%;'">Username</th>
                                                        <th th:style="'width: 10%;'">Gender</th>
                                                        <th th:style="'width: 10%;'">dob</th>
                                                        <th th:style="'width: 10%;'">Phone</th>
                                                        <th th:style="'width: 4%;'">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th th:style="'width: 4%;'">Id</th>
                                                        <th th:style="'width: 10%;'">Img</th>
                                                        <th th:style="'width: 10%;'">Username</th>
                                                        <th th:style="'width: 10%;'">Gender</th>
                                                        <th th:style="'width: 10%;'">dob</th>
                                                        <th th:style="'width: 10%;'">Phone</th>
                                                        <th th:style="'width: 4%;'">Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr th:each="m : ${mentors}">
                                                        <td th:style="'width: 4%;'" th:utext="${m.Id}"></td>
                                                        <td th:style="'width: 16%;'">
                                                            <img th:src="@{${m.ImgSrc}}" th:alt="${m.username}" th:style="'width: 100%; height: 100%;'">
                                                        </td>
                                                        <td th:style="'width: 10%;'" th:utext="${m.username}"></td>
                                                        <td th:style="'width: 10%;'" th:utext="${m.Gender}"></td>
                                                        <td th:style="'width: 10%;'" th:utext="${m.dob}"></td>
                                                        <td th:style="'width: 10%;'" th:utext="${m.phone}"></td>
                                                        <td th:style="'width: 4%;'">
                                                            <a class="btn btn-primary btn-circle btn-sm">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a th:href="@{/admin/blogs}" class="btn btn-danger btn-circle btn-sm">
                                                                <i class="fas fa-trash "></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of content row -->
                            </div>
                            <!-- /.container-fluid -->
    
                        </div>























                    </div>
                    <!-- end of content row -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>