<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebUni - Education Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link th:href="@{../home_course/img/favicon.ico}" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen" rel="stylesheet">

    <!-- Stylesheets -->
    <link th:href="@{../Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../home_course/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{../home_course/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{../home_course/css/style.css}" />
    <!-- Boostrap 5 link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" th:href="@{Question/question.css}">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>
    <div style="padding-bottom:50px"></div>
    <!--Code Here-->
    <div class="form-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Write your name here">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Question</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Write your question here">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Describe your question</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div style="text-align:center;" class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </div>
    <!-- single course section -->
    <section class="banner-section spad">
        <div class="container">
            <div class="section-title mb-0 pb-2">
                <h2>Join Our Community Now!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                    scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
            <div class="text-center pt-5">
                <a href="#" class="site-btn">Register Now</a>
            </div>
        </div>
    </section>
    <!-- banner section end -->
    <!-- footerOai.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>
</body>

<!--====== Javascripts & Jquery ======-->
<script th:src="@{../home_course/js/jquery-3.2.1.min.js}"></script>
<!-- <script th:src="@{../home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{../home_course/js/mixitup.min.js}"></script> -->
<script th:src="@{../home_course/js/circle-progress.min.js}"></script>
<script th:src="@{../home_course/js/owl.carousel.min.js}"></script>
<script th:src="@{../home_course/js/main.js}"></script>
<script th:src="@{../Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>