<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <style>
      ul.item {
        list-style: none;
        float: left;
        width: 100%;
      }
      ul.item li {
        width: 175px;
        float: left;
        margin-right: 20px;
        padding: 5px;
      }
      ul.item li img {
        margin-top: 5px;
        width: 70%;
        height: 70%;
      }
      ul.item li a {
        position: relative;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        text-decoration: none;
      }
      ul.item li:hover {
        background: aquamarine;
      }
      ul.item p {
        color: black;
        margin: 5px;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <!-- Start your project here-->
    <div style="background-color: black">
      <h3
        style="
          font-family: 'Times New Roman', Times, serif;
          color: white;
          font-size: 250%;
          margin-left: 22%;
          padding-top: 35px;
          padding-bottom: 35px;
          font-weight: bold;
        "
      >
        My cousre learning
      </h3>
      <!-- Tabs navs -->
      <ul
        style="margin-left: 20%"
        class="nav nav-tabs mb-3"
        id="ex1"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="ex1-tab-1"
            data-mdb-toggle="tab"
            href="#ex1-tabs-1"
            role="tab"
            aria-controls="ex1-tabs-1"
            aria-selected="true"
            style="
              background-color: black;
              font-family: 'Times New Roman', Times, serif;
              color: white;
              font-weight: bold;
            "
            >All courses</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="ex1-tab-2"
            data-mdb-toggle="tab"
            href="#ex1-tabs-2"
            role="tab"
            aria-controls="ex1-tabs-2"
            aria-selected="false"
            style="
              background-color: black;
              font-family: 'Times New Roman', Times, serif;
              color: white;
              font-weight: bold;
            "
            >My List</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="ex1-tab-3"
            data-mdb-toggle="tab"
            href="#ex1-tabs-3"
            role="tab"
            aria-controls="ex1-tabs-3"
            aria-selected="false"
            style="
              background-color: black;
              font-family: 'Times New Roman', Times, serif;
              color: white;
              font-weight: bold;
            "
            >Wishlist</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="ex1-tab-4"
            data-mdb-toggle="tab"
            href="#ex1-tabs-4"
            role="tab"
            aria-controls="ex1-tabs-4"
            aria-selected="false"
            style="
              background-color: black;
              font-family: 'Times New Roman', Times, serif;
              color: white;
              font-weight: bold;
            "
            >Archived</a
          >
        </li>
      </ul>
    </div>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div
      class="tab-content"
      id="ex1-content"
      style="margin-left: 20%; margin-right: 20%"
    >
      <div
        class="tab-pane fade show active"
        id="ex1-tabs-1"
        role="tabpanel"
        aria-labelledby="ex1-tab-1"
      >
        <ul class="item">
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="ex1-tabs-2"
        role="tabpanel"
        aria-labelledby="ex1-tab-2"
      >
        <p style="font-size: 120%; font-weight: bold">
          SQL Course <a href="#">Edit</a> <a href="#">Delete</a>
        </p>
        <p>All about SQL tech</p>
        <ul class="item">
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="ex1-tabs-3"
        role="tabpanel"
        aria-labelledby="ex1-tab-3"
      >
        <ul class="item">
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                AZ-104 Microsoft Azure Administrator Exam Prep - OCT 2022
              </p>
              <p>Scott Duffy • 800.000+ Students</p>
              <p>12.5 total hours * 165 lectures</p>
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                $39.99
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="tab-pane fade"
        id="ex1-tabs-4"
        role="tabpanel"
        aria-labelledby="ex1-tabs-4"
      >
        <ul class="item">
          <li>
            <a href="#">
              <img src="img/ADB.jpg" />
              <p
                style="
                  font-family: 'Times New Roman', Times, serif;
                  font-weight: bold;
                "
              >
                Advanced Database and SQL Querying
              </p>
              <p>Rakesh Gopalakrishman</p>
              <hr />
              <p>START COURSE</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Tabs content -->
    
    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
