<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen" rel="stylesheet">

    <!-- Stylesheets -->
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">

    <!--css-->
    <link th:href="@{/Forum/style.css}" rel="stylesheet">
    
    
</head>

<body>
    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>

    <!-- Write your code here in middle of Page -->
    <div class="container">
        <div class="topic-container">
            <div class="head">
                <div class="author" th:text="${s.username}">Author</div>
                <div class="content"th:text="${q.qName}">Topic: post'title</div>
                <h1 th:text="${q.questionID}"></h1>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username" th:text="${s.username}"><a href="#">Username</a></div>
                    <div>Role</div>
                    <img th:src="${s.img_src}" alt="">
                    
                </div>
                <div class="content" >
                    <div>
                        <p th:text="${q.qContent}">
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Comment Input-->
        <th:block sec:authorize="hasRole('ROLE_MENTOR')">
            <form th:action="@{/q}" method="post">
                <textarea name="comment" id=""placeholder ="Comment Here....."></textarea>
                <input type="hidden" name="qid" th:value="${q.questionID}">
                <input type="submit" name="" id="" value="Submit">
            </form>
        </th:block>
        
        </div>
        <div th:each="a :${aList}">
            <div class="container">
                <div class="topic-container">
                    <div class="head">
                        <div class="author" th:text="${a.mentor.username}">Author</div>
                        <div class="content"th:text="${a.Date}">Topic: post'title</div>
                    </div>
        
                    <div class="body">
                        <div class="authors">
                            <div class="username" th:text="${a.mentor.username}"><a href="#">Username</a></div>
                            <div>Role</div>
                            <img th:src="${a.mentor.ImgSrc}" alt="">
                            
                        </div>
                        <div class="content">
                            <div><h1 th:text="${a.answer}">
                                
                            </h1>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>



    <!-- footerOai2.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>
    <!--js-->
    <script th:src="@{Forum/main.js}"></script>
</body>
<script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script>
<!--====== Javascripts & Jquery ======-->
<script th:src="@{home_course/js/jquery-3.2.1.min.js}"></script>
<!-- <script th:src="@{home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/mixitup.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/circle-progress.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/owl.carousel.min.js}"></script> -->
<script th:src="@{home_course/js/main.js}"></script>
</html>