<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/Header_Footer/css/headers.css}" rel="stylesheet">
    <!-- sea2.css -->
    <link th:href="@{/Header_Footer/css/sea2.css}" rel="stylesheet">
    <!--css-->
    <link th:href="@{/Forum/style.css}" rel="stylesheet">
    <!--awesome font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- headerOai.html -->
    <div th:replace="common/headerOai2 :: headerOai2"></div>

    <!-- Write your code here in middle of Page -->
    <div class="container">
        <div class="topic-container">
            <div class="head">
                <div class="author">Author</div>
                <div class="content">Topic: post'title</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#">Username</a></div>
                    <div>Role</div>
                    <img src="https://cdn.pixabay.com/photo/2015/06/22/08/40/child-817373__340.jpg" alt="">
                    <div>Post: <u>45</u></div>
                </div>
                <div class="content">
                    Just a random Content to see if this work
                    <br>
                    Hello Quoc, May Ngu
                </div>
            </div>
        </div>
        <!--Comment Input-->
        <div class="comment-area " id="comment-area">
            <textarea name="comment" id=""placeholder ="Comment Here....."></textarea>
            <input type="submit" name="" id="" value="Submit">
        </div>
    </div>



    <!-- footerOai2.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>
    <!--js-->
    <script th:src="@{Forum/main.js}"></script>
</body>
<script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>