<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/Header_Footer/css/headers.css}" rel="stylesheet">
    <!-- sea2.css -->
    <link th:href="@{/Header_Footer/css/sea2.css}" rel="stylesheet">

</head>

<body>
    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>

    <!-- Write your code here in middle of Page -->
    <div class="main">
        <div class="container">
            <h1 style="align-items: center; display: flex; justify-content: center; border: solid 2px; border-radius: 5px; background-color: rgba(205, 209, 228, 1); color: rgb(0, 0, 0);">Mentors of this class</h1>
            <table th:each="m : ${l}">
                <tr>
                    <a th:href="@{/mentor/id=__${m.Id}__}" class="list-group-item list-group-item-action">
                        <img th:src="${m.ImgSrc}" alt="Khong the hien thi" class="rounded-circle" style="width: 80px;height: 80px;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${m.Name}"></h5>
                        </div>
                        <small>Giới thiệu về Mentor</small>
                    </a>
                </tr>
            </table>
        </div>
    </div>
    <!-- footerOai2.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>

</body>

<script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>