<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!--css-->
    <link rel="stylesheet" th:href="@{/RegisterForm/style.css}">
</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <form action="#" th:action="@{/register}" th:object="${register}" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="detail">Full Name</span>
                    <input type="text" placeholder="Enter your name" th:name="fullname"  required>
                </div>

                <div class="input-box">
                    <span class="detail">User name</span>
                    <input type="text" placeholder="Enter your username" th:field="*{username}" required>
                </div>

                <div class="input-box">
                    <span class="detail">Password</span>
                    <input type="text" placeholder="Enter your Password" th:field="*{password}" required>
                </div>

                <div class="input-box">
                    <span class="detail">Date Of Birth</span>
                    <input type="date" placeholder="Enter your date of birth" th:name="dob" required>
                </div>

            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1" th:name="gender">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>

                    <label for="dot-2" th:name="gender">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</body>

</html>