<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <!-- Ion Icons-->
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/Header_Footer/css/headers.css}" rel="stylesheet">
    <!-- sea2.css -->
    <link th:href="@{/Header_Footer/css/sea2.css}" rel="stylesheet">
    <!--css-->
    <!-- <link th:href="@{/FAQ/style.css}" rel="stylesheet"> -->

</head>

<body>
    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>

    <div class = "container">
    <!-- Write your code here in middle of Page -->
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" th:each="f:${fl}">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" href="#question1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne" th:text="${f.qtext}" style="overflow-wrap: break-word;">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body" th:text="${f.atext}" style="overflow-wrap: break-word;">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that just about any HTML can go within the <code>.accordion-body</code>, though the transition
                        does limit overflow.
                    </div>
                </div>
            </div>
        </div>
        <!-- footerOai2.html -->
        <div th:replace="common/footerOai2 :: footerOai2"></div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>