<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebUni - Education Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link th:href="@{/home_course/img/favicon.ico}" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Stylesheets -->
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/home_course/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/style.css}" />
    <link th:href="@{/Header_Footer/css/sea2.css}" rel="stylesheet">
    <link th:href="@{/Header_Footer/css/headers.css}" rel="stylesheet">


</head>
<script>
    function checkout(link) {
        window.location.href = link;
    }
</script>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- headerOai.html -->
    <div th:replace="common/headerOai2 :: headerOai2"></div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid" th:style="'padding-top: 1%!important; padding-bottom: 1%!important;'">
                <h1 class="fw-bold" th:style="'font-size: 1.5rem;'">News announcement</h1>
                <p class="col-md-12 " th:style="'font-size: 1rem!important;'" th:text="${username}">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>

    <!-- search section -->
    <!-- <section class="search-section">
        <div class="container">
            <div class="search-warp">
                <div class="section-title text-white">
                    <h2>Search your course</h2>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1"> -->
    <!-- search form -->
    <!-- <form class="course-search-form">
                            <input type="text" placeholder="Course">
                            <input type="text" class="last-m" placeholder="Category">
                            <button class="site-btn">Search Couse</button>
                        </form> -->
    <!-- end search form -->
    <!-- </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- search section end -->


    <!-- course section -->
    <section class="course-section spad">
        <div class="container">
            <div class="section-title mb-0">
                <h2>Featured Courses</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
        </div>
        <div class="course-warp">
            <ul class="course-filter controls">
                <li class="control active" data-filter="all">All</li>
                <!-- list categories -->
                <li class="control" th:each="category : ${categories}" th:utext="${category.category_name}">Category name</li>
                <!-- end list categories .th:data-filter=".+${category.category_name}"-->
            </ul>
            <div class="row course-items-area">
                <!-- list course -->
                <div class="mix col-lg-3 col-md-4 col-sm-6" th:each="course : ${courses}">
                    <div class="course-item">
                        <!-- nhớ thay chỗ blog_image, title, description ở dưới  . th:classappend="${course.category}"-->
                        <div class="course-thumb set-bg" th:data-setbg="${course.ImgSrc}">
                            <!-- <div class="price">Price: $15</div> -->
                        </div>
                        <div class="course-info">
                            <a th:href="@{/chapterlist?cid=__${course.Id}__}">
                                <div class="course-text">
                                    <h5 th:utext="${#strings.abbreviate(course.CourseName,50)}">Title</h5>
                                    <p th:utext="${#strings.abbreviate(course.Description,40)}">Discription</p>

                                    <!-- <div class="students">120 Students</div> -->
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" th:data-setbg="@{/home_course/img/authors/1.jpg}"></div>
                                    <p>Group2, <span>Developer</span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end list course -->
            </div>
            <!-- view more course link -->
            <div class="text-center">
                <a th:href="@{/courses}" class="btn bg-secondary text-white">View More Courses</a>
            </div>
        </div>
    </section>
    <!-- course section end -->
    <!-- categories section -->
    <section class="categories-section spad">
        <div class="container">
            <div class="section-title">
                <h2>Our Course Categories</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
            <div class="row">
                <!-- list categories -->
                <div class="col-lg-4 col-md-6" th:each="category : ${categories}" th:onclick="checkout([[@{/course(cate_id=${category.categoryID})}]])" style="cursor: pointer;">
                    <div class="categorie-item">
                        <div class="ci-thumb set-bg" th:data-setbg="${category.image}"></div>
                        <div class="ci-text">
                            <h5 th:utext="${category.category_name}">Category title</h5>
                            <p th:utext="${category.discription}">Discription</p>
                            <!-- num of course -->
                            <span>Number of course</span>
                        </div>
                    </div>
                </div>
                <!-- end list categories -->
            </div>
            <div class="row">
                <!-- button in middle of row -->
                <div class="col-lg-12 text-center">
                    <a href="#" class="site-btn">Browse All Categories</a>
                </div>
            </div>
    </section>
    <!-- categories section end -->


    <!-- signup section -->
    <!-- <section class="signup-section spad">
        <div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="signup-warp">
                        <div class="section-title text-white text-left">
                            <h2>Sign up to became a teacher</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                        </div> -->
    <!-- signup form -->
    <!-- <form class="signup-form">
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="Your E-mail">
        <input type="text" placeholder="Your Phone">
        <label for="v-upload" class="file-up-btn">Upload Course</label>
        <input type="file" id="v-upload">
        <button class="site-btn">Search Couse</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section> -->
    <!-- signup section end -->

    <!-- footerOai.html -->
    <div th:replace="common/footerOai :: footerOai"></div>

</body>
<!--====== Javascripts & Jquery ======-->
<script th:src="@{home_course/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{home_course/js/bootstrap.min.js}"></script>
<script th:src="@{home_course/js/mixitup.min.js}"></script>
<script th:src="@{home_course/js/circle-progress.min.js}"></script>
<script th:src="@{home_course/js/owl.carousel.min.js}"></script>
<script th:src="@{home_course/js/main.js}"></script>
<script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>