<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OnLearner - Online Education Platform</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen" rel="stylesheet">

    <!-- Stylesheets -->
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/home_course/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/style.css}" />


</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->


    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid" th:style="'padding-top: 1%!important; padding-bottom: 1%!important;'">
                <h1 class="fw-bold" th:style="'font-size: 1.5rem;'">News announcement</h1>
                <p class="col-md-12 " th:style="'font-size: 1rem!important;'" th:text="${username}"></p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>
    <!-- categories section -->
    <section class="categories-section spad">
        <div class="container">
            <div class="section-title" style="margin-bottom: 50px;">
                <h2>Our Course Categories</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
            <div class="row">
                <!-- list categories -->
                <div class="col-lg-4 col-md-6" th:each="category : ${categories}" th:onclick="|window.location.href='@{/courses(category=${category.categoryID})}'|" style="cursor: pointer;">
                    <div class="categorie-item">
                        <div class="ci-thumb set-bg" th:data-setbg="${category.image}"></div>
                        <div class="ci-text">
                            <h5 th:utext="${category.category_name}">Category title</h5>
                            <p th:utext="${#strings.abbreviate(category.discription,100)}">Discription</p>
                            <!-- num of course -->
                            <span th:utext="${category.numCourse} + ' courses'">Number of course</span>
                        </div>
                    </div>
                </div>
                <!-- end list categories -->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" th:onclick="|window.location.href='@{/courses}'|" style="cursor: pointer;">
                    <button class="btn btn-secondary btn-lg">Browse All Categories</button>
                </div>
            </div>
    </section>
    <!-- categories section end -->
    <!-- course section -->
    <section class="course-section spad pb-0" style="margin-bottom: 80px;">
        <div class="course-warp">
            <div class="row col-md-12 section-title" style="margin-bottom: 50px;">
                <h2 class="text-center">Our featured Course</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
            <div class="row course-items-area">
                <!-- course -->
                <div class="mix col-lg-3 col-md-4 col-sm-6" th:each="course : ${courses}">
                    <div class="course-item" th:onclick="|window.location.href='@{/course/{name}(name=${course.CourseName})}'|" style="cursor: pointer;">
                        <div class="course-thumb set-bg" th:data-setbg="${course.ImgSrc}">
                            <!-- if price = 0.0 then price is free -->
                            <div style="position:absolute; top:0; left: 20px; margin-top: 10px;">
                                <button class="btn btn-danger" th:text="${(course.price == 0.0) ? ('Free') : ('$' + course.price)}" style="border-radius: 20%;"></button>
                                <button class="btn btn-outline-success">Add</button>
                            </div>
                            <span class="rating" style="position:absolute; top: 0; right: 20px; margin-top: 10px;">
                                <!-- chuyển rating của course thành số sao tương ứng -->
                                <i class="fa fa-star" th:if="${course.rating > 0}"></i>
                                <i class="fa fa-star" th:if="${course.rating > 1}"></i>
                                <i class="fa fa-star" th:if="${course.rating > 2}"></i>
                                <i class="fa fa-star" th:if="${course.rating > 3}"></i>
                                <i class="fa fa-star" th:if="${course.rating > 4}"></i>
                                <i class="fa fa-star is-fade" th:if="${course.rating <= 1}"></i>
                                <i class="fa fa-star is-fade" th:if="${course.rating <= 2}"></i>
                                <i class="fa fa-star is-fade" th:if="${course.rating <= 3}"></i>
                                <i class="fa fa-star is-fade" th:if="${course.rating <= 4}"></i>
                            </span>
                        </div>
                        <div class="course-info">
                            <div class="course-text">
                                <h5 th:utext="${#strings.abbreviate(course.CourseName,30)}">Title</h5>
                                <p th:utext="${#strings.abbreviate(course.Description,65)}">Description</p>
                                <div class="students" th:text="${(course.numOfStudents == 0) ? ('New Course') : (course.numOfStudents + ' Students')}">Number Of Students</div>
                            </div>
                            <div class="course-author">
                                <div class="ca-pic set-bg" th:data-setbg="${course.getCourseManager().getImgSrc()}">
                                </div>
                                <p th:utext="${course.getCourseManager().getName() +',  <span><strong>'+ course.getCourseManager().getOrgName() +'</strong></span>'}">
                                    CourseManager </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" th:onclick="|window.location.href='@{/courses}'|" style="cursor: pointer;">
                    <button class="btn btn-secondary btn-lg">Browse All Courses</button>
                </div>
            </div>
        </div>
    </section>
    <!-- course section end -->

    <!-- blog section -->
    <section class="course-section spad">
        <div class="course-warp">
            <!-- show blog list in card-body -->
            <div class="row col-md-12 section-title" style="margin-bottom: 50px;">
                <h2 class="text-center">Our Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6" th:each="blog : ${blogs}">
                    <div class="course-item" th:onclick="|window.location.href='@{/blog/detail/{id}(id=${blog.blog_id})}'|" style="cursor: pointer;">
                        <div class="course-thumb set-bg" th:data-setbg="${blog.blog_image}"></div>
                        <div class="course-text">
                            <h4 th:utext="${blog.title}">Title</h4>
                            <p>by <span th:utext="${blog.poster_uname}">Poster</span> on <span th:utext="${blog.date}">12 Aug 2018</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center" th:onclick="|window.location.href='@{/blogs}'|" style="cursor: pointer;">
                    <button class="btn btn-secondary btn-lg">Browse All Blogs</button>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section end -->

    <!-- banner section -->
    <section class="banner-section spad">
        <div class="container">
            <div class="section-title mb-0 pb-2">
                <h2>Join Our Community Now!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
            </div>
            <div class="text-center pt-5">
                <a href="#" class="site-btn">Register Now</a>
            </div>
        </div>
    </section>
    <!-- banner section end -->
    <hr class="hr" />
    <!-- footerOai.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>

</body>
<!--====== Javascripts & Jquery ======-->
<script th:src="@{home_course/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/blog/js/owl.carousel.min.js}"></script>
<!-- <script th:src="@{home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/mixitup.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/circle-progress.min.js}"></script> -->
<!-- <script th:src="@{home_course/js/owl.carousel.min.js}"></script> -->
<script th:src="@{home_course/js/main.js}"></script>
<!-- <script th:src="@{Header_Footer/js/bootstrap.bundle.min.js}"></script> -->

</html>