<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WebUni - Education Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link th:href="@{/home_course/img/favicon.ico}" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen" rel="stylesheet">

    <!-- Stylesheets -->
    <link th:href="@{/Header_Footer/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/home_course/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/home_course/css/style.css}" />

</head>
<script>
    function checkout(link) {
        window.location.href = link;
    }
</script>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- headerOai.html -->
    <div th:replace="common/headerOai3 :: headerOai3"></div>

    <!-- search course textbox -->
    <div class="container mt-3">
        <!-- heading title search Course -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center"><strong>OnLearner </strong> - Online learning platform </h3>
            </div>
        </div>

        <div class="row col-12 card card-body">
            <form action="/searchCourse" method="GET">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" name="searchCourse" placeholder="Search course">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <h5 style="margin: 2%;"><strong>My Courses</strong></h5>
        <div class="row col-12 card card-body" th:each="course : ${myCourses}" style="margin-bottom: 20px;">
            <div class="row" th:onclick="|window.location.href='@{/course/{name}(name=${course.CourseName})}'|" style="cursor: pointer;">
                <div class="col-3">
                    <img th:src="${course.ImgSrc}" alt="" style="border-radius: 5%;">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title" th:utext="${#strings.abbreviate(course.CourseName,100)}">Course name</h5>
                        </div>
                        <div class="col-3">
                            <span class="rating" style="position:absolute; top:0; right:0;">
                                    <i class="fa fa-star" th:if="${course.rating > 0}"></i>
                                    <i class="fa fa-star" th:if="${course.rating > 1}"></i>
                                    <i class="fa fa-star" th:if="${course.rating > 2}"></i>
                                    <i class="fa fa-star" th:if="${course.rating > 3}"></i>
                                    <i class="fa fa-star" th:if="${course.rating > 4}"></i>
                                    <i class="fa fa-star is-fade" th:if="${course.rating <= 1}"></i>
                                    <i class="fa fa-star is-fade" th:if="${course.rating <= 2}"></i>
                                    <i class="fa fa-star is-fade" th:if="${course.rating <= 3}"></i>
                                    <i class="fa fa-star is-fade" th:if="${course.rating <= 4}"></i>
                                </span>
                        </div>
                    </div>
                    <p class="card-text" th:utext="${#strings.abbreviate(course.Description,200)}">Short description</p>
                    <!-- an avatar of course manager -->
                    <img th:src="${course.getCourseManager().getImgSrc()}" alt="" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover;">
                    <span style="margin-left: 10px;" class="card-text" th:utext="${course.getCourseManager().getName() +',  <span><strong>'+ course.getCourseManager().getOrgName() +'</strong></span>'}">CourseManager </span>
                </div>
            </div>
        </div>
    </div>

    <!-- footerOai.html -->
    <div th:replace="common/footerOai2 :: footerOai2"></div>
</body>
<script th:src="@{../home_course/js/jquery-3.2.1.min.js}"></script>
<!-- <script th:src="@{../home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{../home_course/js/mixitup.min.js}"></script> -->
<script th:src="@{../home_course/js/circle-progress.min.js}"></script>
<script th:src="@{../home_course/js/owl.carousel.min.js}"></script>
<script th:src="@{../home_course/js/main.js}"></script>
<script th:src="@{../Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>