<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
    rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="@{/common/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="@{/common/css/font-awesome.min.css}" />
  <link rel="stylesheet" href="@{/common/css/owl.carousel.css}" />
  <link rel="stylesheet" href="@{/common/css/styleHAF.css}" />

</head>


<body>
  <div th:replace="common/headerOai3 :: headerOai3"></div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <p style="text-align:center">Đây là lesson </p>
      <table th:each="m : ${mList}">
        <tr>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" th:text="${m.ModuleName}"></h5>
            </div>
            <small>Giới thiệu về module</small>
          </a>
        </tr>
      </table>

    </div>

    <div style="padding-bottom:50px"></div>
    <div th:replace="common/footerOai2 :: footerOai2"></div>
</body>
<!--====== Javascripts & Jquery ======-->
<script th:src="@{../home_course/js/jquery-3.2.1.min.js}"></script>
<!-- <script th:src="@{../home_course/js/bootstrap.min.js}"></script> -->
<!-- <script th:src="@{../home_course/js/mixitup.min.js}"></script> -->
<script th:src="@{../home_course/js/circle-progress.min.js}"></script>
<script th:src="@{../home_course/js/owl.carousel.min.js}"></script>
<script th:src="@{../home_course/js/main.js}"></script>
<script th:src="@{../Header_Footer/js/bootstrap.bundle.min.js}"></script>

</html>